/* @font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} */

body{
    margin: 0;
    padding: 0;
    font-family: 'HBIOS-SYS';
}

.join-all-wrap{
    display: flex;
}
.join-background{
    background-image: url("joinBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}

#joinContainer, #authorJoinContainer{
    height: 100vh;
    padding: 3% 1%;
    box-sizing: border-box;
    flex-basis: 500px;
    max-width: 1000px;
    min-width: 350px;
    padding: 80px 40px;
    /* box-sizing: border-box; */
}
.join-info-text{

}
.join-info-text p{
    margin-bottom: 20px;

}
.join-info-text span{
    font-size: larger;
    font-weight: 600;
}

#joinForm, #authorJoinForm{
    width: 100%;
}


.input-design{
    width: 100%;
    border: 1px solid #cacac6;
    height: 50px;
    margin-bottom: 6px;
    position: relative;
    border-radius: 3px;

}
.input-design span{
    font-size: 8px;
    color: #727272;
    position: absolute;
    top: 5px;
    left: 10px;
}
.user-img{
    height: 100px;
}
#imgView{
    width: 60px;
    height: 60px;
    margin-top: 25px;
    margin-left: 10px;
    border-radius: 50px;
    border: 1px solid #cacac6;
}

/* 정규표현식 실패 */
/* 인풋에 포커스도 주기 */
.input-design.on{
    border: 1px solid red;
}
.join-error-msg{
    display: block;
    font-size: 12px;
    color: red;
    margin-bottom: 12px;
}
.pw2-good-msg, .id-good-msg{
    color: #A451F7;
}


#joinForm input, #authorJoinForm input{
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    padding: 2px 10px;
    border-radius: 5px;
    border: none;
    position: absolute;
    bottom: 0;
    outline: none;
    
}
#joinForm input::placeholder, #authorJoinForm input::placeholder{
    color: #B2B1AB;

}

#joinBtn, #authorJoinBtn{
    width: 100%;
    height: 40px;
    cursor: not-allowed;
    background-color: #FFF7BF;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#joinBtn span, #authorJoinBtn span{
    font-size: small;
    color: #B2B1AB;
}

#joinBtn.on, #authorJoinBtn.on{
    background-color: #FFEB60;
    cursor: pointer;
}
#joinBtn.on span, #authorJoinBtn.on span{
    color: black;
}

.author-join-info{
    font-size: 24px;
    font-weight: 700;
    color: #555555;
    margin-bottom: 20px;
}
#authorJoinBtn{
    background-color: #ADADAD;

}
#authorJoinBtn span{
    color: white;
}
