$utilities: (
  map-merge(
    (
      "custom-font-size": (
        property: font-size,
        values: (
          0: 0,
          1: 0.25rem,
          2: 0.5rem,
          3: 0.75rem,
          4: 1rem,
        ),
      ),
    ),
    $utilities
  )
);

@import url(../../live/bootstrap-5.2.2-dist/bootstrap-5.2.2-dist/css/bootstrap.css);
