body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#first_banner {
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid gray;
}
#button_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.button_text {
  margin: 0px 30px;
}
.button_text h4 {
  font-weight: normal;
  margin: 0px;
}
.button_text.select h4 {
  font-weight: bold;
  margin: 0px;
}
#log_out {
  font-size: 13px;
  font-weight: 1000;
  color: white;
  background-color: rgb(60, 60, 60);
  padding: 8px 18px;
  border-radius: 5px;
}
.pointer:hover {
  cursor: pointer;
}
#left_button_box {
  display: flex;
}
#logo {
  height: 20px;
  margin-right: 30px;
}
#main_box {
  margin-top: 80px;
  width: 70%;
  height: 135%;
}
#category_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 100%;
}
#category_box h2 {
  width: 100%;
  margin: 10px;
}
.item {
  display: flex;
  align-items: center;
  width: calc(50% - 20px);
  height: 130px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid lightslategray;
  overflow: hidden;
}
.text_box {
  width: 75%;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.text_box strong {
  font-size: 18px;
}
.text_box p {
  font: bolder;
  font-size: 12px;
}
.img_style {
  width: 90px;
  rotate: 15deg;
  box-shadow: 3px 3px lightslategray;
}



#footer {
  margin: 0 200;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

#footer .footerBox01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
#footer .footerBox:nth-child(2) {
  margin-top: 20px;
}

.footerBox01 .ftext01 {
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
}
.footerBox .ftext02 {
  font-size: 8px;
  color: darkgrey;
  cursor: pointer;
}

.footerBox img {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
}

.icon img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.icon img {
  margin: 0 5;
}

.footerBox {
  margin-top: 10px;
  width: fit-content;
}
.footerBox span,
.footerBox img {
  margin: 0;
  padding: 0;
}

.footerItemBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
}

.footerItemBox .fItem {
  display: flex;
  align-items: center;
  margin: 0 6;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footerItemBox .fItem:first-child {
  margin: 0 0px;
}

.footerItemBox .fItem .ftext02 {
  font-size: 13px;
  color: gray;
}
.footerBox .ftext03 {
  font-size: 5px;
  color: gray;
}

em {
  cursor: pointer;
}
