.mainbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.mainbarimg {
  padding-left: 20px;
  cursor: pointer;
}

.loginbtn {
  border-radius: 20px;
  width: 80px;
  height: 30px;
  background-color: black;
  color: white;
  margin-right: 30px;
  cursor: pointer;
}

@keyframes fadeinLeft {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.on_2 {
  animation: fadeinLeft 2s;
}

.effect {
  animation: fadeinLeft 2s;
}

.maintitle {
  display: flex;
  height: 500px;
  background-color: rgb(250, 250, 245);
}

.mainfont {
  font-size: 60px;
  margin-bottom: 0;
  padding-left: 300px;
  margin-top: 80px;
}

.mainfontsecond {
  font-size: 30px;
  margin-top: 0;
}

.maintitle_second {
  height: 250px;
  background-color: rgb(247, 247, 225);
}

.maintitle_second_title {
  display: flex;

  padding-top: 150px;
  margin-left: 300px;
}

.millieicon2 {
  font-size: 30px;
}

.mainimg {
  position: absolute;
  top: 180px;
  left: 700px;
}

@keyframes fadeinLeft2 {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.maintitle_second_title_left {
  margin-top: 0;
}

.on {
  opacity: 0;
}

.main_info {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px;
}

.main_info_content_one {
  font-size: 45px;
  font-weight: bolder;
}

.main_info_content_two {
  font-size: 20px;
  color: gray;
  font-weight: bold;
  margin-top: 10px;
}

.main_info_content_space {
  padding: 10px;
}
.main_info_content_space2 {
  padding: 30px;
}

@keyframes effect1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes effect2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
.slide_sum {
  overflow: hidden;
  width: 100%;
}
#main_slide {
  display: flex;

  width: fit-content;
  animation: effect1 41s linear infinite;
}

/* .effect_slide {
  transform: scale(2);
} */

.main_slide_sub img:hover {
  transform: scale(1.3);
  margin: 30px;
  /* margin-bottom: 50px; */
}
.main_slide_sub2 img:hover {
  transform: scale(1.3);
  margin: 30px;

  /* margin-bottom: 50px; */
}
.main_slide_sub3 img:hover {
  transform: scale(1.3);
  margin: 30px;

  /* margin-bottom: 50px; */
}

#main_slide img {
  padding: 10 10px;
}

#main_slide2 {
  display: flex;

  width: fit-content;
  animation: effect2 41s linear infinite;
}

#main_slide2 img {
  padding: 0 10px;
}

#main_slide3 {
  display: flex;

  width: fit-content;
  animation: effect1 41s linear infinite;
}
#main_slide3 img {
  padding: 10 10px;
}

.main_info_two {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 80px;
  background-color: #f7f3f2;
}

.main_info_two_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #f7f3f2;
}

.main_info_three {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px;
}

.second_slide_main {
  margin: 0 500px;
  overflow: hidden;
}

.second_slide_main_content {
  display: flex;
  justify-content: center;
}

.second_slide_main_content_name {
  width: 200px;
}

.second_slide {
  width: 1050px;
}

.second_slide2 {
  width: 1050px;
  padding-top: 50px;
}

.second_slide_img {
  padding-top: 20px;
}

.second_slide_button {
  display: flex;
  width: 400px;
  justify-content: space-around;
}

.second_slide_button_click {
  border-radius: 10px;
  width: 70px;
  padding: 5px;
  background-color: white;
  border-color: black;
}

.millie_pick {
  width: 400px;
  /* position: relative; */
  bottom: 250px;
  right: 5px;
}

.main_info_four {
  margin-top: 80px;
  display: flex;

  align-items: center;
  flex-direction: column;

  padding: 188px 0px;
  background-color: #f7f3f2;
  width: 100%;
  height: 650px;
}

.main_info_four_content {
  display: flex;

  align-items: center;
  flex-direction: column;

  /* padding: 10px;
  background-color: #f7f3f2;
  width: 100%;
  height: 650px;  */
}

.millie_pick_title {
  position: relative;
  left: 350px;
  bottom: 40px;
}

.millie_pick {
  position: relative;
  left: 340px;
  bottom: 300px;
}

.millie_pick_box_one {
  position: relative;
  width: 180px;
  bottom: 270px;
  right: 300px;
}

.millie_pick_box_two {
  position: relative;
  width: 180px;
  bottom: 450px;
  right: 400px;
}

.millie_pick_box_three {
  position: relative;
  width: 180px;
  bottom: 450px;
  right: 60px;
}

.millie_pick_box_four {
  position: relative;
  width: 180px;
  bottom: 280px;
  right: 160px;
}

.main_info_five {
  display: flex;

  align-items: center;
  flex-direction: column;

  padding: 188px 0px;
  background-color: rgb(250, 250, 96);
  width: 100%;
  height: 550px;
}

.main_info_three_two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px;
}

.main_info_content_img {
  display: flex;
  align-items: center;
}
