$utilities: () !default;
$utilities: map-merge(
  (
    "button-padding": (
      responsive: true,
      property: padding,
      class: bp,
      values: (
        0: 0rem,
        1: 1rem,
        2: 2rem,
        3: 3rem,
        4: 4rem,
        5: 5rem,
      ),
    ),
    "custom-padding": (
      responsive: true,
      property: padding,
      class: cp,
      values: (
        0: 0rem,
        1: 1rem,
        2: 2rem,
        3: 3rem,
        4: 4rem,
        5: 5rem,
      ),
    ),
  ),
  $utilities
);
